.footer-right .introduce-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-left .introduce-info h5,
.footer-left .introduce-info p {
    display: flex;
    align-items: center;
    margin: 0;
}
.footer-right .contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-right .contact-info h5,
.footer-right .contact-info p {
    display: flex;
    align-items: center;
    margin: 0;
}

.footer-right .contact-info h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.footer-right .contact-info strong {
    width: 120px;
    text-align: left;
    display: inline-block;
}

.footer-right .contact-info a {
    color: #007bff;
    text-decoration: none;
}

.footer-right .contact-info a:hover {
    text-decoration: underline;
}
